apiVersion: apps/v1
kind: Deployment
metadata:
  name: echo-backend
  namespace: k8s-grpc-istio-test
spec:
  replicas: 3
  selector:
    matchLabels:
      app: echo-backend
  template:
    metadata:
      labels:
        app: echo-backend
      annotations:
        inject.istio.io/templates: grpc-agent
        proxy.istio.io/config: '{"holdApplicationUntilProxyStarts": true}'
        istio.io/persistent-session: session-cookie:/EchoService/SendEcho
    spec:
      containers:
        - name: echo-server
          image: grpc-istio-test:latest
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          args: ["--id=$(POD_NAME)"]
          ports:
            - containerPort: 4004
          imagePullPolicy: Never
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: echo-frontend
  namespace: k8s-grpc-istio-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: echo-frontend
  template:
    metadata:
      labels:
        app: echo-frontend
      annotations:
        inject.istio.io/templates: grpc-agent
        proxy.istio.io/config: '{"holdApplicationUntilProxyStarts": true}'
        istio.io/persistent-session: session-cookie:/EchoService/SendEcho
    spec:
      containers:
        - name: echo-server
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: GRPC_TRACE
              value: cds_lb,glb,round_robin,xds_client,xds_resolver
            - name: GRPC_VERBOSITY
              value: INFO
          args: ["--id=$(POD_NAME)", "--frontend"]
          image: grpc-istio-test:latest
          ports:
            - containerPort: 4004
          imagePullPolicy: Never
